page-login {

  .global{
  background: linear-gradient(to bottom, #4B64F3, #34B3E6); /* Standard syntax */
  }

  form {
    margin-bottom: 32px;
    button {
      margin-top: 20px;
    }
  }

  p {
    font-size: 0.8em;
    color: #d2d2d2;
  }

  .login-box {
    padding: 20px 20px 0px 20px;
    margin-top: 30px;
  }

  ion-label {
    margin-left: 5px;
  }

  ion-input {
    padding: 5px;
  }

  ion-row {
    align-items: center;
    text-align: center;
  }

  ion-item {
    padding-left: 30px !important;
    font-size: 0.9em;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-bottom: 0px !important;
    box-shadow: none !important;
}

  .invalid {
    border-bottom: 1px solid #FF6153;
  }

  .error-message  {
    border-bottom: 0 !important;
  }

  .passwordItem
  {
    margin-bottom:0px
  }
}

