<!--
  Generated template for the UpdatePromotionSuitePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar>
      <ion-title>עדכון מבצע</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding class="global">
  

    <form  (submit)="updatePromotion()">
    
    <ion-list  *ngIf="selectedProducts">
        <div *ngFor="let product of selectedProducts" >
                  <ion-grid class="product" >
                      <ion-row >
                          <ion-col col-4 >
                              <div class="picPic" [style.backgroundImage]="getURL(product.picture.url)"></div>
                            </ion-col>
                      
                              <ion-col col-5>
                                  <ion-row >
                                  <span  class="productName" >{{product.name}}</span>
                                </ion-row> 
                                <ion-row >
                                  <span  class="productPrice" > <del>{{product.originalPrice}}  </del> ₪ </span>
                              </ion-row >
                         <ion-row >
                             <span   class="productDescription" >{{product.description}}</span>
                         </ion-row >
                       </ion-col>
                      </ion-row>

                      <ion-row >
                        <ion-col>
                            <ion-item text-wrap>
                      <ion-label stacked>כמות</ion-label>
                      <ion-input   [ngModelOptions]="{standalone:true}" [(ngModel)]="product.quantity" type="number"  placeholder="Default Quantity"></ion-input>
                    </ion-item>
                        </ion-col>
                     </ion-row >
                      <ion-row >
                      <ion-col>
                            <ion-item text-wrap>
                        <ion-label stacked>הנחה (%)</ion-label>
                     <ion-input  [ngModelOptions]="{standalone:true}" [(ngModel)]="product.discount" (ionBlur)="checkAndCalculateReducedPrice(product)" type="number"  placeholder="Discount"></ion-input>
                    </ion-item>
                    </ion-col>
                    <ion-col>
                            <ion-item text-wrap>
                      <ion-label stacked>מחיר אחרי הנחה (₪)</ion-label>
                      <ion-input  [ngModelOptions]="{standalone:true}" [(ngModel)]="product.reducedPrice" (ionBlur)="checkAndCalculateDiscount(product)" type="number"  placeholder="New"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row >
                      </ion-grid>
                
           
            </div>
   </ion-list> 
          
      
      <button ion-button block [disabled]="!isPromotionReadyToGo()">
          עדכן מבצע
          </button>
        </form>
   
  
  </ion-content>
  