<ion-header no-shadow>

</ion-header>

<ion-content class="global" no-bounce>

    
    <form [formGroup]="signupForm" (submit)="signupUser()">


        <ion-grid>
            <ion-row>
                
                <ion-col align-self-center>
                    <div class="profile-info" (click)="choosePictureType()">
                        <img class="profile-image" src='{{profilePic.url}}'/>
                        <button class="profilebutton" (click)="choosePictureType()">
                            <ion-icon name="create"></ion-icon>
                        </button>
                      </div>
                 
                 </ion-col>
              
            </ion-row>
          </ion-grid>

<input type="file" accept="image/*" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
  

      <ion-item>
          <ion-label color="primary" stacked>Description</ion-label>
          <ion-textarea formControlName="description" autosize  type="text" placeholder="Description">
          </ion-textarea>   
        </ion-item>

        <ion-item>
            <ion-label color="primary" stacked>Telephone Number</ion-label>
            <ion-input formControlName="telNo" placeholder="Telephone Number"></ion-input>
         </ion-item>

    
    
    
    
        <ion-item (click)="showHashgahaChoiceSelect()">
            <h4 class="h4"> Hashgaha</h4>
            <h3>{{signupForm.value.hashgaha}}</h3>
          </ion-item>
       
              <ion-select [hidden]="true" formControlName="hashgaha" #hashgahaInput multiple="false" >
                  <ion-option *ngFor="let hashga of getHashgahot()"
                    (value)="hashga">{{hashga}}</ion-option>
                 </ion-select>
 
      
        
    
        <ion-item (click)="showCategoriesChoiceSelect()">
            <h4 class="h4"> Category</h4>
            <h3>{{getCategory()}}</h3>
          </ion-item>

             <ion-select [hidden]="true" formControlName="category" #categoryInput multiple="false" >
                 <ion-option *ngFor="let category of getCategories()"
                   (value)="category.name">{{category.name}}</ion-option>
                </ion-select>
     


     <ion-item>
        <ion-label color="primary" stacked>Address</ion-label> 
      <ion-input #address formControlName="address" [(ngModel)]="searchAddress" (ionFocus)="showAddresses(true)" (ionBlur)="showAddresses(false)"  placeholder="Address">
      </ion-input>
      </ion-item>
     <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>
    <ion-list>
      <ion-item *ngFor="let address of addresses" (click)="selectAddress(address)">
        {{address.description}}
      </ion-item>
    </ion-list>

     <button ion-button block [disabled]="!signupForm.valid" (click)="signupUser()">
        {{ 'UPDATE MY PROFILE' | translate }}
        </button>
    
    
   
  </form>
 

  <ion-select #selectPictureType [hidden]="true" (ionChange)="getPicture($event)" interface="action-sheet">
    <ion-option value="Gallery">Gallery</ion-option>
    <ion-option value="Camera">Camera</ion-option>
  </ion-select> 

</ion-content>
