<ion-header no-shadow>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="primary">{{ 'TUTORIAL_SKIP_BUTTON' | translate}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="global" no-bounce>
  <ion-slides pager="true" dir="{{dir}}" (ionSlideWillChange)="onSlideChangeStart($event)">
    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.image" class="slide-image" />
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>
    </ion-slide>
    <ion-slide>
    
    <form [formGroup]="signupForm" (submit)="signupUser()">

      <ion-item>
          <ion-input stacked>General Description</ion-input>
          <ion-textarea formControlName="description"  type="text"  placeholder="General Description"></ion-textarea>
        </ion-item>

      <ion-item> <ion-label stacked>Address</ion-label>
      <ion-input #address formControlName="address" [(ngModel)]="searchAddress" (ionFocus)="showAddresses(true)" (ionBlur)="showAddresses(false)"  placeholder="Address">
      </ion-input>
      </ion-item>
     <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>
    <ion-list>
      <ion-item *ngFor="let address of addresses" (click)="selectAddress(address)">
        {{address.description}}
      </ion-item>
    </ion-list>
    
    <ion-item>
        <ion-label stacked>Hashgaha</ion-label>
        <ion-select 
           formControlName="hashgaha" 
           multiple="false">
            <ion-option *ngFor="let hashga of hashgahot" value="{{hashga}}">{{hashga}}</ion-option>
    </ion-select>
    </ion-item> 
    <ion-item>
            <ion-label stacked>Categories</ion-label>
            <ion-select 
               formControlName="categories" 
               multiple="true">
                <ion-option *ngFor="let catego of categories" value="{{catego}}">{{catego}}</ion-option>
        </ion-select>
     </ion-item> 

   
    
    
    <input type="file" accept="image/*" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
    <div class="profile-image-wrapper" (click)="choosePictureType()">
      <div class="profile-image-placeholder" *ngIf="!signupForm.controls.picture.value">
        <ion-icon class="basic"  name="add-circle"></ion-icon>
        <div class="whiteBig">
          {{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}
        </div>
      </div>
      <div class="profile-image" *ngIf="signupForm.controls.picture.value" [style.backgroundImage]="getProfileImageStyle()">
      </div>
    </div>
    <button ion-button block [disabled]="!signupForm.valid" type="submit">
        {{ 'UPDATE MY PROFILE' | translate }}
        </button>
  </form>
  </ion-slide>
  </ion-slides>

  <ion-select #selectPictureType [hidden]="true" (ionChange)="getPicture($event)" interface="action-sheet">
    <ion-option value="Gallery">Gallery</ion-option>
    <ion-option value="Camera">Camera</ion-option>
  </ion-select> 

</ion-content>
