<ion-header no-shadow>

</ion-header>

<ion-content class="global" no-bounce>

    
    <form [formGroup]="signupForm" (submit)="signupUser()">


        <ion-grid>
            <ion-row>
                
                <ion-col align-self-center>
                    <div class="profile-info" (click)="choosePictureType()">
                        <img class="profile-image" src='{{profilePic.url}}'/>
                        <button class="profilebutton" (click)="choosePictureType()">
                            <ion-icon name="create"></ion-icon>
                        </button>
                      </div>
                 
                 </ion-col>
              
            </ion-row>
          </ion-grid>

<input type="file" accept="image/*" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
  

      <ion-item>
          <ion-label color="primary" stacked>אודות המסעדה</ion-label>
          <ion-textarea formControlName="description" autosize  type="text" placeholder="אודות המסעדה">
          </ion-textarea>   
        </ion-item>

        <ion-item>
            <ion-label color="primary" stacked>כתובת</ion-label> 
          <ion-input #address formControlName="address" [(ngModel)]="searchAddress" (ionFocus)="showAddresses(true)" (ionBlur)="showAddresses(false)"  placeholder="כתובת">
          </ion-input>
          </ion-item>
         <div *ngIf="searching" class="spinner-container">
            <ion-spinner></ion-spinner>
        </div>
        <ion-list>
          <ion-item *ngFor="let address of addresses" (click)="selectAddress(address)">
            {{address.description}}
          </ion-item>
        </ion-list>

        <ion-item>
            <ion-label color="primary" stacked>מספר טלפון</ion-label>
            <ion-input formControlName="telNo" placeholder="מספר טלפון"></ion-input>
         </ion-item>

    
    
    
    
        <ion-item (click)="showHashgahaChoiceSelect()">
            <span class="h4">כשרות</span>
            <h3>{{signupForm.value.hashgaha}}</h3>
          </ion-item>
       
              <ion-select [hidden]="true" formControlName="hashgaha" #hashgahaInput multiple="false" >
                  <ion-option *ngFor="let hashga of getHashgahot()"
                    (value)="hashga">{{hashga}}</ion-option>
                 </ion-select>
 
      
        
    
        <ion-item (click)="showCategoriesChoiceSelect()">
            <span class="h4">  סוג</span>
            <h3>{{getCategory()}}</h3>
          </ion-item>

             <ion-select [hidden]="true" formControlName="category" #categoryInput multiple="false" >
                 <ion-option *ngFor="let category of getCategories()"
                   (value)="category.name">{{category.name}}</ion-option>
                </ion-select>
     

                <ion-label color="primary" stacked>שעות פתיחה</ion-label>
              

                 <div *ngFor="let day of days,let ind=index">

                     <ion-grid >
                         <ion-row >
                             <ion-col>
                               <span class="dayLabel">{{day}}</span>
                             </ion-col>
                             <ion-col (click)='showStartTime(ind)' align-self-center>
                                 <span class="hourLabel">{{daysToSave[ind].startTime}}</span>
                              
                              </ion-col>
                              <ion-col (click)='showEndTime(ind)' align-self-center>
                                 <span class="hourLabel">{{daysToSave[ind].endTime}}</span>
                              
                              </ion-col>
                           
                         </ion-row>
                      </ion-grid>
                    


                 </div>



  

     <button ion-button block [disabled]="!signupForm.valid" (click)="signupUser()">
        עדכן
        </button>
    
    
   
  </form>
 
  <div #startTimes   [hidden]="true">
        <ion-datetime  *ngFor="let day of days,let ind=index"  [attr.id]="'startTime' +  ind"  [hidden]="true" item-end 
        minuteValues="00,05,10,15,20,25,30,35,40,45,50,55" displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="daysToSave[ind].startTime"></ion-datetime>
      </div>
      <div #endTimes   [hidden]="true">
           <ion-datetime  *ngFor="let day of days,let ind=index" [attr.id]="'startTime' + ind" [hidden]="true" item-end 
          minuteValues="00,05,10,15,20,25,30,35,40,45,50,55" displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="daysToSave[ind].endTime"></ion-datetime>
      </div>
      

  <ion-select #selectPictureType [hidden]="true" (ionChange)="getPicture($event)" interface="action-sheet">
    <ion-option value="גלריה">גלריה</ion-option>
    <ion-option value="מצלמה">מצלמה</ion-option>
  </ion-select> 

</ion-content>
