page-create-product {

    .global{
        background: linear-gradient(to bottom, #4B64F3, #34B3E6); /* Standard syntax */
      }

     
  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    max-height: 40%;
    max-width: 60%;
    margin: 36px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }

  
.select-text
{
visibility: hidden
}
.select-icon
{
  visibility: hidden
}

  img{
    border-radius: 25%;


  }
  .profile-image-wrapper {
    text-align: center;
    
    .profile-image {
      width: 96px;
      height: 96px;
      display: inline-block;

      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .profile-image-placeholder {
      display: inline-block;
      width: 96px;
      height: 96px;
      /*border-radius: 50%;*/

      font-size: 12px;

      ion-icon {
        font-size: 44px;
        margin-bottom: -10px;
        margin-top: 10px;
      }
    }
  }

      .red
      {
      color:red
      }

      .green
      {
        color:green;
      }
      
}
