
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>המוצרים שלי</ion-title>
  </ion-navbar>

</ion-header>



<ion-content  class="global" padding >
 
    <div [ngClass]="products_enabled">
              <button ion-button (click)="addProduct()">
                  יצירת מוצר 
                </button>
               <ion-list *ngIf="hasProducts()">
                  <div *ngFor="let category of getSellerProductsCategories()" text-wrap>
                      <div class="categoTitle">{{category}}</div>
                 
                  <ion-list [hidden]="!sellerService.getCategoryProducts(category)">
                  <ion-card  *ngFor="let product of sellerService.getCategoryProducts(category)">
                    <ion-item-sliding>
                       
                      <ion-item text-wrap>
                          <ion-grid>
                              <ion-row >
                                  <ion-col col-5 (click)="choosePictureType(product)">
                                    
                                      <div class="picPic" [style.backgroundImage]="getURL(product.picture.url)"></div>
                                    </ion-col>
                              
                                      <ion-col (click)='editProduct(product)'>
                                          <ion-row >
                                          <span  class="productName" >{{product.name}}</span>
                                        </ion-row> 
                                      <ion-row >
                                          <span  class="productPrice" > {{product.originalPrice}} ₪ </span>
                                      </ion-row >
                                 <ion-row >
                                     <span   class="productDescription" >{{product.description}}</span>
                                 </ion-row >
                               </ion-col>
                               </ion-row>
                              </ion-grid>
                            </ion-item>
                           <ion-item-options  (ionSwipe)="removeInput(product)" side="right" icon-start>
                           </ion-item-options>
                     
                  </ion-item-sliding>
                    </ion-card>
              </ion-list> 
            </div>
            </ion-list>
         </div>  
   
  <input type="file" #fileInput accept="image/*"  [hidden]="true" name="files[]" (change)="processImage($event)" />                      
  <ion-select #selectPictureType  [hidden]="true" (ionChange)="updatePicture(product,$event)" interface="action-sheet">
    <ion-option value="גלריה">גלריה</ion-option>
    <ion-option value="מצלמה">מצלמה</ion-option>
  </ion-select> 

</ion-content>
