<!--
  Generated template for the ProfileSettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>פרטים כלליים</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content *ngIf="sellerService.getCurrentSeller() as seller " padding class='global'>

      
            <ion-grid>
                <ion-row>
                    
                    <ion-col align-self-center>
                        <div class="profile-info"  (click)="choosePictureType()">
                          <div class="picPic" [style.backgroundImage]="getURL(seller.picture.url)"></div>
                            <button class="profilebutton" (click)="choosePictureType()">
                                <ion-icon name="create"></ion-icon>
                            </button>
                          </div>
                     
                     </ion-col>
                  
                </ion-row>
              </ion-grid>
 
  <input type="file" accept="image/*" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
      
              <ion-item >
                  <ion-label color="primary" stacked>שם</ion-label>
                  <ion-input  [(ngModel)]="seller.restaurantName" (ionFocus)='editInput("restaurantName",true)' placeholder="שם המסעדה"></ion-input>
            
                  <button *ngIf="allInputsShows.restaurantName" ion-button icon-only item-end clear (click)='editInput("restaurantName",false)'>
                   <ion-icon *ngIf="allInputsShows.restaurantName" class="red" name="redo"></ion-icon>
                </button>
                <button *ngIf="allInputsShows.restaurantName" ion-button icon-only item-end clear (click)='saveInput("restaurantName",seller.restaurantName)' [disabled]="seller.restaurantName==''">
                    <ion-icon *ngIf="allInputsShows.restaurantName" class="green" name="checkmark"></ion-icon>
              </button>
                </ion-item>
          
          
            <form [formGroup]="updateForm">
           
                
                     <ion-item [hidden]="searchAddressInput">
                        <ion-label color="primary" stacked>כתובת</ion-label>
                        <ion-input   formControlName="addressSaved"
                          type="text" placeholder="כתובת" (ionFocus)='editInput("address",true)' ></ion-input>
                     </ion-item> 
                     <ion-item [hidden]="!searchAddressInput">
                        <ion-label color="primary" stacked>כתובת</ion-label>
                         <ion-input   #addressInput formControlName="address"
                          type="text" [(ngModel)]="searchAddress"  placeholder="כתובת" (ionFocus)='showAddresses(true)' (ionBlur)="showAddresses(false)"></ion-input>
                     <button *ngIf="searchAddressInput" ion-button icon-only item-end clear (click)=' editInput("address",false); '>  <ion-icon class="red" name="redo"></ion-icon>
                         </button>
                         <button *ngIf="searchAddressInput" ion-button icon-only item-end clear (click)=' saveInput("address",seller.address);' [disabled]="!addressSelected">
                             <ion-icon class="green" name="checkmark"></ion-icon>
                       </button>
        
                     </ion-item>             

                     <div [hidden]="!searching" class="spinner-container">
                        <ion-spinner></ion-spinner>
                    </div>
                    <ion-list>
                      <ion-item *ngFor="let address of addresses" (click)="selectAddress(address)">
                        {{address.description}}
                      </ion-item>
                    </ion-list>
          
                  </form>



         
                <ion-item (click)='editInput("category",true)'>
                     <span class="h4"> סוג</span>
                     <h3>{{seller.category}}</h3>
                   </ion-item>
                  
                      <ion-select [hidden]="true" #categoryInput  multiple="false" (ionChange)='saveInput("category",$event)'>
                       <ion-option *ngFor="let category of getCategories()"  (value)="category.name">{{category.name}}</ion-option>
                      </ion-select>
         
          
                <ion-item (click)='alertAndLoadingService.showToast({message:"נא ליצור איתנו קשר אם מעוניינים לשנות את רמת הכשרות."});'>
                    
                  <span class="h4">כשרות</span>
                     <h3>{{seller.textHashgaha}}</h3>
                   </ion-item>
                 
      
                     <ion-item >
                        <ion-label color="primary" stacked>אודות המסעדה</ion-label>
                        <ion-textarea autosize  type="text" [(ngModel)]="seller.description" (ionFocus)='editInput("description",true)' placeholder="אודות המסעדה">
                        </ion-textarea>
                  
                        <button *ngIf="allInputsShows.description" ion-button icon-only item-end clear (click)='editInput("description",false)'>
                         <ion-icon *ngIf="allInputsShows.description" class="red" name="redo"></ion-icon>
                      </button>
                      <button *ngIf="allInputsShows.description" ion-button icon-only item-end clear (click)='saveInput("description",seller.description)' [disabled]="seller.description==''">
                          <ion-icon *ngIf="allInputsShows.description" class="green" name="checkmark"></ion-icon>
                    </button>
                      </ion-item>

                 
                      <ion-item >
                          <ion-label color="primary" stacked>מספר טלפון</ion-label>
                          <ion-input [(ngModel)]="seller.telNo" (ionFocus)='editInput("telNo",true)' placeholder="מספר טלפון"></ion-input>
                    
                          <button *ngIf="allInputsShows.telNo" ion-button icon-only item-end clear (click)='editInput("telNo",false)'>
                           <ion-icon *ngIf="allInputsShows.telNo" class="red" name="redo"></ion-icon>
                        </button>
                        <button *ngIf="allInputsShows.telNo" ion-button icon-only item-end clear (click)='saveInput("telNo",seller.telNo)' [disabled]="seller.telNo==''">
                            <ion-icon *ngIf="allInputsShows.telNo" class="green" name="checkmark"></ion-icon>
                      </button>
                        </ion-item>
                  
                        <div class="openHours">
                          <ion-label color="primary" stacked>שעות פתיחה</ion-label>
                         <div #startTimes   [hidden]="true">
                            <ion-datetime  *ngFor="let day of days,let ind=index" (ionChange)='saveInput("days",seller.days)' [attr.id]="'startTime' +  ind"  [hidden]="true" item-end 
                            minuteValues="00,05,10,15,20,25,30,35,40,45,50,55" displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="seller.days[ind].startTime"></ion-datetime>
                          </div>
                          <div #endTimes   [hidden]="true">
                               <ion-datetime  *ngFor="let day of days,let ind=index"  (ionChange)='saveInput("days",seller.days)' [attr.id]="'startTime' + ind" [hidden]="true" item-end 
                              minuteValues="00,05,10,15,20,25,30,35,40,45,50,55" displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="seller.days[ind].endTime"></ion-datetime>
                          </div>

                          <div *ngFor="let day of days,let ind=index">

                              <ion-grid >
                                  <ion-row >
                                      <ion-col>
                                        <span class="dayLabel">{{day}}</span>
                                      </ion-col>
                                      <ion-col (click)='showStartTime(ind)' align-self-center>
                                          <span class="hourLabel">{{seller.days[ind].startTime}}</span>
                                       
                                       </ion-col>
                                       <ion-col (click)='showEndTime(ind)' align-self-center>
                                          <span class="hourLabel">{{seller.days[ind].endTime}}</span>
                                       
                                       </ion-col>
                                    
                                  </ion-row>
                               </ion-grid>
                             
     

                          </div>
                        </div>
                  

     
                     <ion-select #selectPictureType [hidden]="true" (ionChange)="getPicture($event)" interface="action-sheet">
                      <ion-option value="גלריה">גלריה</ion-option>
                      <ion-option value="מצלמה">מצלמה</ion-option>
                    </ion-select> 
    
        
  </ion-content>
  