<!--
  Generated template for the ProfileSettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>ProfileSettings</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content *ngIf="userService.getCurrentUser() as user " padding class='global'>

      
            <ion-grid>
                <ion-row>
                    
                    <ion-col align-self-center>
                        <div class="profile-info">
                            <img class="profile-image" src='{{user.pictureURL}}'/>
                            <button class="profilebutton" (click)="getPicture()">
                                <ion-icon name="create"></ion-icon>
                            </button>
                          </div>
                     
                     </ion-col>
                  
                </ion-row>
              </ion-grid>
 
  <input type="file" accept="image/*" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
      <ion-list >
             <ion-item *ngIf="!allInputsShows.restaurantName">
               
                <h4> Name</h4>
                <h3>{{user.restaurantName}}</h3>
                  <button ion-button icon-only item-end clear (click)='editInput("restaurantName",true)'>
                      <ion-icon name="create"></ion-icon>
                </button>
              </ion-item>
              <ion-item *ngIf="allInputsShows.restaurantName">
                  <ion-input type="text" [(ngModel)]="user.restaurantName" #restaurantName placeholder="Restaurant Name" ></ion-input>
                    <button ion-button icon-only item-end clear (click)='editInput("restaurantName",false)'>
                        <ion-icon class="red" name="redo"></ion-icon>
                  </button>
                  <button ion-button icon-only item-end clear (click)='saveInput("restaurantName",user.restaurantName)' [disabled]="user.restaurantName==''">
                      <ion-icon class="green" name="checkmark"></ion-icon>
                </button>
              </ion-item>
            </ion-list>
          
            <form [formGroup]="updateForm">
            <ion-list>
                 <ion-item *ngIf="!allInputsShows.address">
                   
                       <h4> Address</h4>
                       <h3>{{ user.address.street }} {{ user.address.streetNumber }},{{ user.address.city }}</h3>
                         <button ion-button icon-only item-end clear (click)='editInput("address",true)'>
                             <ion-icon name="create"></ion-icon>
                       </button>
                     </ion-item>
                    
                     <ion-item [hidden]="!allInputsShows.address">
                       
                          <ion-input  #address formControlName="address"
                         type="text" [(ngModel)]="searchAddress"  placeholder="Address" (ionFocus)="showAddresses(true)" (ionBlur)="showAddresses(false)"></ion-input>
                        
                           <button ion-button icon-only item-end clear (click)='editInput("address",false)'>
                               <ion-icon class="red" name="redo"></ion-icon>
                         </button>
                         <button ion-button icon-only item-end clear (click)='saveInput("address",user.address)' [disabled]="!addressSelected">
                             <ion-icon class="green" name="checkmark"></ion-icon>
                       </button>
        
                     </ion-item>           

                     <div *ngIf="searching" class="spinner-container">
                        <ion-spinner></ion-spinner>
                    </div>
                    <ion-list>
                      <ion-item *ngFor="let address of addresses" (click)="selectAddress(address)">
                        {{address.description}}
                      </ion-item>
                    </ion-list>
            </ion-list>
          </form>



            <ion-list>
                <ion-item>
                    
                     <h5> Categories</h5>
                     <h3>{{user.textCategories}}</h3>
                       <button ion-button icon-only item-end clear (click)='editInput("categories",true)'>
                           <ion-icon name="create"></ion-icon>
                     </button>
                   </ion-item>
                  
                      <ion-select [hidden]="true" #categoriesInput  multiple="true" (ionChange)='saveInput("categories",$event)'>
                       <ion-option *ngFor="let category of categories"  (value)="category">{{category}}</ion-option>
                      </ion-select>
         
          </ion-list>

            <ion-list>
                <ion-item>
                    
                     <h5> Hashgaha</h5>
                     <h3>{{user.hashgaha}}</h3>
                       <button ion-button icon-only item-end clear (click)='editInput("hashgaha",true)'>
                           <ion-icon name="create"></ion-icon>
                     </button>
                   </ion-item>
                   <ion-item [hidden]="true">
                      <ion-select #hashgahaInput  multiple="false" (ionChange)='saveInput("hashgaha",$event)'>
                       <ion-option *ngFor="let hashga of hashgahot"  (value)="hashga">{{hashga}}</ion-option>
                      </ion-select>
                   </ion-item>
          </ion-list>

      
            <ion-list>
                  <ion-item *ngIf="!allInputsShows.description">
                      
                       <h5> Description</h5>
                       <h3>{{user.description}}</h3>
                         <button ion-button icon-only item-end clear (click)='editInput("description",true)'>
                             <ion-icon name="create"></ion-icon>
                       </button>
                     </ion-item>
                     <ion-item *ngIf="allInputsShows.description">
                     <ion-textarea  [(ngModel)]="user.description"  type="text"  placeholder="General Description"></ion-textarea>  
                           <button ion-button icon-only item-end clear (click)='editInput("description",false)'>
                               <ion-icon class="red" name="redo"></ion-icon>
                         </button>
                         <button ion-button icon-only item-end clear (click)='saveInput("description",user.description)' [disabled]="user.description==''">
                             <ion-icon class="green" name="checkmark"></ion-icon>
                       </button>
                     </ion-item>
            </ion-list>

     

    
        
  </ion-content>
  