<!--
  Generated template for the ProfileSettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>ProfileSettings</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content *ngIf="sellerService.getCurrentSeller() as user " padding class='global'>

      
            <ion-grid>
                <ion-row>
                    
                    <ion-col align-self-center>
                        <div class="profile-info"  (click)="choosePictureType()">
                            <img class="profile-image" src='{{user.picture.url}}'/>
                            <button class="profilebutton" (click)="choosePictureType()">
                                <ion-icon name="create"></ion-icon>
                            </button>
                          </div>
                     
                     </ion-col>
                  
                </ion-row>
              </ion-grid>
 
  <input type="file" accept="image/*" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
      
              <ion-item >
                  <ion-label color="primary" stacked>Name</ion-label>
                  <ion-input  [(ngModel)]="user.restaurantName" (ionFocus)='editInput("restaurantName",true)' placeholder="Restaurant Name"></ion-input>
            
                  <button *ngIf="allInputsShows.restaurantName" ion-button icon-only item-end clear (click)='editInput("restaurantName",false)'>
                   <ion-icon *ngIf="allInputsShows.restaurantName" class="red" name="redo"></ion-icon>
                </button>
                <button *ngIf="allInputsShows.restaurantName" ion-button icon-only item-end clear (click)='saveInput("restaurantName",user.restaurantName)' [disabled]="user.restaurantName==''">
                    <ion-icon *ngIf="allInputsShows.restaurantName" class="green" name="checkmark"></ion-icon>
              </button>
                </ion-item>
          
          
            <form [formGroup]="updateForm">
           
                
                     <ion-item [hidden]="searchAddressInput">
                        <ion-label color="primary" stacked>Address</ion-label>
                        <ion-input   formControlName="addressSaved"
                          type="text" placeholder="Address" (ionFocus)='editInput("address",true)' ></ion-input>
                     </ion-item> 
                     <ion-item [hidden]="!searchAddressInput">
                        <ion-label color="primary" stacked>Address</ion-label>
                         <ion-input   #addressInput formControlName="address"
                          type="text" [(ngModel)]="searchAddress"  placeholder="Address" (ionFocus)='showAddresses(true)' (ionBlur)="showAddresses(false)"></ion-input>
                     <button *ngIf="searchAddressInput" ion-button icon-only item-end clear (click)=' editInput("address",false); '>  <ion-icon class="red" name="redo"></ion-icon>
                         </button>
                         <button *ngIf="searchAddressInput" ion-button icon-only item-end clear (click)=' saveInput("address",user.address);' [disabled]="!addressSelected">
                             <ion-icon class="green" name="checkmark"></ion-icon>
                       </button>
        
                     </ion-item>             

                     <div *ngIf="searching" class="spinner-container">
                        <ion-spinner></ion-spinner>
                    </div>
                    <ion-list>
                      <ion-item *ngFor="let address of addresses" (click)="selectAddress(address)">
                        {{address.description}}
                      </ion-item>
                    </ion-list>
          
                  </form>



         
                <ion-item (click)='editInput("category",true)'>
                     <h4 class="h4"> Category</h4>
                     <h3>{{user.category}}</h3>
                   </ion-item>
                  
                      <ion-select [hidden]="true" #categoryInput  multiple="false" (ionChange)='saveInput("category",$event)'>
                       <ion-option *ngFor="let category of getCategories()"  (value)="category.name">{{category.name}}</ion-option>
                      </ion-select>
         
          
                <ion-item (click)='editInput("hashgaha",true)'>
                    
                     <h4 class="h4"> Hashgaha</h4>
                     <h3>{{user.textHashgaha}}</h3>
                   </ion-item>
                   <ion-item [hidden]="true">
                      <ion-select #hashgahaInput  multiple="false" (ionChange)='saveInput("hashgaha",$event)'>
                       <ion-option *ngFor="let hashga of hashgahot"  (value)="hashga">{{hashga}}</ion-option>
                      </ion-select>
                   </ion-item>
          

      
                     <ion-item >
                        <ion-label color="primary" stacked>Description</ion-label>
                        <ion-textarea autosize  type="text" [(ngModel)]="user.description" (ionFocus)='editInput("description",true)' placeholder="Description">
                        </ion-textarea>
                  
                        <button *ngIf="allInputsShows.description" ion-button icon-only item-end clear (click)='editInput("description",false)'>
                         <ion-icon *ngIf="allInputsShows.description" class="red" name="redo"></ion-icon>
                      </button>
                      <button *ngIf="allInputsShows.description" ion-button icon-only item-end clear (click)='saveInput("description",user.description)' [disabled]="user.description==''">
                          <ion-icon *ngIf="allInputsShows.description" class="green" name="checkmark"></ion-icon>
                    </button>
                      </ion-item>

                 
                      <ion-item >
                          <ion-label color="primary" stacked>Telephone Number</ion-label>
                          <ion-input [(ngModel)]="user.telNo" (ionFocus)='editInput("telNo",true)' placeholder="Telephone Number"></ion-input>
                    
                          <button *ngIf="allInputsShows.telNo" ion-button icon-only item-end clear (click)='editInput("telNo",false)'>
                           <ion-icon *ngIf="allInputsShows.telNo" class="red" name="redo"></ion-icon>
                        </button>
                        <button *ngIf="allInputsShows.telNo" ion-button icon-only item-end clear (click)='saveInput("telNo",user.telNo)' [disabled]="user.telNo==''">
                            <ion-icon *ngIf="allInputsShows.telNo" class="green" name="checkmark"></ion-icon>
                      </button>
                        </ion-item>
                  

     
                     <ion-select #selectPictureType [hidden]="true" (ionChange)="getPicture($event)" interface="action-sheet">
                      <ion-option value="Gallery">Gallery</ion-option>
                      <ion-option value="Camera">Camera</ion-option>
                    </ion-select> 
    
        
  </ion-content>
  