page-profile-settings{

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    max-height: 40%;
    max-width: 60%;
    margin: 36px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }


  .openHours
  {
    padding-left: 16px;
  }

  .dayLabel
  {
    color:white;
  }

  .hourLabel
  {
    color:white;
  }
  

  img{
    border-radius: 25%;


  }
    .profile-image {
      display: inline-block;
      border-radius: 10%;
      width: 260px;
    }

      
      #profile-bg {
        position: fixed;
        left: 0;
        top: 44px;
        width: 100%;
        height: 150px;

   /*     background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/bg.jpg') no-repeat transparent;*/
        background-size: 100%;
        background-position: 50% 20%;

        text-align: center;
      }

      #content {
        position: relative;
        margin-top: 100px;
        padding-top: 80px;
      }

      .profile-info {
        width: 100%;
        z-index: 2;
        text-align: center;
      }
      #profile-name {
        color: #444;
        font-size: 26px;
      }
      #profile-description {
        font-size: 15px;
        color: #888;
      }
      #profile-description a {
        color: #888;
      }

     
      
      .profilebutton {
        margin-left:-4%
      }

      .input-wrapper {
        border-bottom: 1px solid;
        background-color:transparent;
      }

      .item-md {
        color: white;
         background-color: transparent;
      }

      .green{
        color:#46f746
      }
     
      .h4{
          font-weight: bolder;
      }

      .label-md[stacked] {
         font-size: 1.5rem; 
    }

    .label-md, .item-input .label-md-primary, .item-select .label-md-primary, .item-datetime .label-md-primary {
      color: white;
      font-weight: bolder;
    }

    .item-input-has-focus  .label-md[stacked],
    .input-has-focus .label-md[stacked],
    .item-input-has-focus .label-md[floating],
     .input-has-focus .label-md[floating] {
      color: white;
      font-weight: bolder;
    }
    
   

    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
       border-bottom-color: transparent; 
      -webkit-box-shadow: inset 0 -1px 0 0 transparent; 
       box-shadow: inset 0 -1px 0 0 transparent; 
  }


 



  }
  


