<!--
  Generated template for the TodayMenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Today Menu</ion-title>
  </ion-navbar>

</ion-header>


<ion-content  class="global" padding>
    <div *ngIf="userService.getCurrentUser() as user ">
    <div class="promotions" >
  <ion-grid>
        <ion-row>
            <ion-col (click)='showPromotionStartTime()' align-self-center>
                <span > Promotion Start</span>
                <span>{{user.promotionStartTime}}</span>
             
             </ion-col>
             <ion-col (click)='showPromotionEndTime()' align-self-center>
                <span > Promotion End</span>
                <span>{{user.promotionEndTime}}</span>
             
             </ion-col>
          
        </ion-row>
      </ion-grid>
    </div>    
              
              <button ion-button (click)="addProduct()">
                  Add product
                </button>
                

               <ion-list  *ngIf="userService.getCurrentDefaultProducts() as products ">
            
                <ion-item-sliding *ngFor="let product of products">
                         <ion-item>
                          <ion-avatar item-start>
                              <img (click)="updatePicture(product)" src="{{product.picture.url}}">
                            </ion-avatar>
                            <ion-grid>
                                <ion-row >
                                    <ion-col class="productUpdate">
                           <span  class="productName" >{{product.name}}</span>
                          </ion-col>
                        </ion-row>
                        <ion-row > 
                            <ion-col class="productUpdate">
                           <span class="productDescription" >{{product.description}}</span>
                          </ion-col>
                        </ion-row>   
                        <ion-row >
                          <ion-col class="productUpdate">
                            <span class="productQuantity" >Quantity: {{product.quantity}}</span>
                          </ion-col>
                        </ion-row>  
                          <ion-row >
                              <ion-col class="productUpdate">
                           <span class="productOriginalPrice" >Original Price: {{product.originalPrice}} ₪</span>
                          </ion-col>
                          <ion-col class="productUpdate">
                           <span class="productReducedPrice" >Reduced Price: {{product.reducedPrice}} ₪</span>
                          </ion-col>
                        </ion-row>  
                       </ion-grid>
                          </ion-item>
                           <ion-item-options  (ionSwipe)="removeInput(product)" side="right" icon-start>
                            <button ion-button expandable clear (click)='removeInput(product)'>
                                <ion-icon class="red" name="trash"></ion-icon>
                          </button>
                          <button ion-button clear (click)='editProduct(product)'>
                              <ion-icon name="create"></ion-icon>
                        </button>
                            </ion-item-options>
                     </ion-item-sliding>

              </ion-list> 
            
   
    <button [hidden]="user.promotionSet" [disabled]="isPublishDisabled()" ion-button (click)="publishTodayPromotion()">
        Publish today promotion
      </button>
      
  <ion-datetime #promotionStartTime [hidden]="true" item-end 
  minuteValues="00,05,10,15,20,25,30,35,40,45,50,55" displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="user.promotionStartTime"></ion-datetime>
  <ion-datetime #promotionEndTime [hidden]="true" item-end 
  minuteValues="00,05,10,15,20,25,30,35,40,45,50,55" displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="user.promotionEndTime"></ion-datetime>
  <input type="file" #fileInput accept="image/*"  style="visibility: hidden; height: 0px" name="files[]" (change)="processImage($event)" />                      
</div>

</ion-content>
