page-today-menu{


  .item{
    margin-bottom:0px;
}

.promotions
{
  color:white;
  border-color: white;
  border: 3px solid;
  margin-bottom: 13px;
}

.productUpdate
{
padding:0px;
}

.productImg
{
  width:90%;
}

}