page-today-menu{


  .item{
    margin-bottom:0px;
}

.promotions
{
    color: white;
    border-color: white;
    border: 3px solid;
    margin-bottom: 13px;
    border-radius: 15px;
    font-size: larger;
}

.productName
{
  font:bolder;
}

.productDescription {
  line-height: 0px;
}

.products_disabled{
  opacity:0.5;
}

.products_enabled{
  opacity:1;
}


.buttonPromotion
{
  align-items: center;
}

.publishPromo
{
  background-color: green;
}

.stopPromo
{
  background-color: red;
}

.card-md {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left:0px;
  border-radius: 10px;
}
}